.container {
  color: #76797d;
  border: 1pt solid rgb(166, 197, 245);
  border-radius: 10px;
}
.Weather {
  margin: 0 auto;
  max-width: 600px;
}
.Weather h2 {
  font-size: 50px;
}
.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style: none;
}

.Weather .temperature {
  font-size: 60px;
}
.Weather .temperature .unit {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
.Weather .properties li {
  text-align: center;
}
.Weather canvas {
  margin: 10px auto;
}
